.widget-news {
    padding: 10px;
    height: 100vh;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.widget-news__categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.change-news__category {
    cursor: pointer;
    margin-left: 8px;
}
.change-news__category_active {
    margin-left: 8px;
    background-color: rgba(135, 129, 129, 0.56);
}
.widget-news__empty-list {
    align-self: center;
}
