.main-stocks__list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    overflow: auto;
    max-height: 68vh;
    height: 68vh;
    box-sizing: padding-box;
}