.header-content {
    padding: 15px 15px;
    display: flex;
    background-color: rgb(192, 229, 238);
    border-top: 1px solid rgba(117, 107, 107, 0.155);
}
.header-content__back {
    width: 150px;
    cursor: pointer;
    
}
.header-content__menu > p {
    margin: 0;
    margin-right: 20px;
}
.header-content__list {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
}
.header-content__list>li {
    margin-right: 15px;
    font-size: 20px;
}

.header-content__active {
    text-decoration: underline;
}